{% include 'head.html' %}
{% load static %}

<body>
 <!--navbar start-->
    {% include 'navbar.html' %}
<!--Navbar end-->
  <script>
  document.addEventListener("DOMContentLoaded", function () {
    const orders = JSON.parse(localStorage.getItem("bookOrders")) || [];
    const orderCount = orders.length > 99 ? "99+" : orders.length;
    document.getElementById("orderCount").textContent = orderCount;
  });
</script>










   <section title="carocel_img">
        <div class="container-fluid">
            <div class="row  " style="height: 200px;">
              {% if Team_Carousel_img_data %}
                <div class="col-md-12" style="background-color: rgba(220, 116, 18, 0.5); height: 400px;">
                    <img src="{{Team_Carousel_img_data.image.url}}" class="d-block " alt="..."
                        style="height: 100%;width: 100%;opacity: 0.5;">

                    <h1
                        style="font-size: 70px;font-weight: bold; text-shadow: 0px 0px 5px black;margin-top: -200px; text-align: center; color: white;">
                        Our Team</h1>
                    <center>
                        <b style="text-align: center;"><a href=""
                                style="text-decoration: none; color: white; font-size: 25px; text-shadow: 0px 0px 5px black;">Home
                                / </a><a href=""
                                style="text-decoration: none; color: white; font-size: 25px; text-shadow: 0px 0px 5px black;">Pages
                                /
                            </a><a href=""
                                style="text-decoration: none; color: white; font-size: 25px; text-shadow: 0px 0px 5px black;">
                                Our Team </a></b>
                    </center>
                     </div>
                {% endif %}
            </div>
            </div>

    </section>




    
  <section title="instructure">
    <div class="container-fluid" style="margin-top: 250px;">
      <div class="row p-3 mt-5" >
        <div class="col-12 text-center">

          <!-- Decorative HR and Heading -->
          <hr style="height: 2px; width: 60px; background-color: lightseagreen; margin: 0 auto;">
          <hr style="height: 2px; width: 100px; background-color: lightseagreen; margin: 10px auto;">
          <h3 style="color: lightseagreen;">INSTRUCTURES</h3>
          <hr style="height: 2px; width: 60px; background-color: lightseagreen; margin: 10px auto;">
          <hr style="height: 2px; width: 100px; background-color: lightseagreen; margin: 0 auto;">
          <h1>Expert Instructors</h1>

        </div>
      </div>
    </div><br><br>
  </section>


  





 <section title="card" class="py-5">
  <div class="container">
    <div class="row g-4">

      <!-- Single Card -->
       {% if our_team_data %}
        {% for i in our_team_data %}
      <div class="col-lg-3 col-md-6 col-12">
        <div class="card team-card text-center">
          <div class="team-img position-relative">
            <img src="{{i.our_team_img.url}}" class="img-fluid w-100 img-fluid" alt="Instructor">
            <div class="social-icons">
              <a href="{{i.our_team_f_link}}" ><i class="fa fa-facebook" ></i></a>
              <a href="{{i.our_team_t_link}}"><i class="fa fa-twitter"></i></a>
              <a href="{{i.our_team_i_link}}"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
          <div class="card-body bg-warning-subtle">
            <h5>{{i.our_team_name}}</h5>
            <p class="text-muted">{{i.our_team_destination}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>




  <!--Footer start-->

{% include 'footer.html' %}

<!--Footer End-->
             
  
</body>


</html>



  














                

              

                
                
              




             




                 






                 
               
           
























































